html 
head 
title 
body 
table(border="2px solid")
    tr 
        th(style="text-transform: uppercase;color:green") Name
        th(style="text-transform: uppercase;color:green") Email
        th(style="text-transform: uppercase;color:green") Course
    td #{name}
    td #{email}
    td #{course}
