html
head
title PUG 
body 
h1 LJU

form(action="") 
input(type="text",placeholder="Enter name") 
br
input(type="Submit",value="Submit")

h3(style="text-transform: uppercase;color:red") Hello world
p 
|The file will not 
|render properly if 
|program does not 

ul 
li Apple 
li Mango 
li Pineapple

a(href='/' target='_blank') About


table(border="2px solid")
    tr 
        th(style="text-transform: uppercase;color:red") Id
        th(style="text-transform: uppercase;color:red") Name
    td 123
    td hello
        

-var number=4
-var color='red'
-var list=["India","USA"]

h4="3 times number is :"+number * 3
h3="I like "+color+"color"
h2="Country is:"+list[0]
